#section-2 {
  position: relative;
  width: 100%;
}

#presentation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

#presentation-image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}

#presentation-image img {
  width: 100%;
}

#presentation-contenu {
  width: 100%;
}

#presentation-texte p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  //text-align: justify;
  color: RGB(240,240,240);
  margin-bottom: 50px;
  margin-top: 50px;
}

#presentation-infos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
  font-size: 16px;
  text-align: justify;
  color: RGB(240,240,240);
}

#nom {
  display: none;
}

#presentation-infos hr {
  margin-bottom: 20px;
}

#presentation-infos table tr th {
  width: 200px;
  padding-right: 50px;
  font-weight: normal;
}

#presentation-btn-td {
  padding: auto;
}

#presentation-bouton {
  display: block;
  margin-top: 20px;
  font-size: 22px;
  background: #edeff0;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}

.section {
  display: block;
  width: 100%;
  text-align: right;
  margin-left: -40px;
  padding-top: 20px;
  color: RGB(240,240,240);
}
