#section-2 {
  position: relative;
  width: 100%;
  overflow: visible;
}

#presentation {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  overflow: visible;
}

#presentation-image {
  width: 50%;
  overflow-y: hidden;
}

#presentation-image img {
  width: 80%;
}

#presentation-contenu {
  width: 50%;
  overflow: visible;
}

#presentation-texte p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
  font-size: 20px;
  text-align: justify;
  color: RGB(240,240,240);
  //margin-bottom: 50px;
}

#presentation-infos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
  font-size: 20px;
  text-align: justify;
  color: RGB(240,240,240);
  overflow: visible;
}

#presentation-infos hr {
  margin-bottom: 20px;
}

#presentation-infos table tr th {
  width: 200px;
  padding-right: 50px;
  font-weight: normal;
}

#presentation-bouton {
  margin-top: 20px;
  font-size: 22px;
  background: #edeff0;
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#presentation-bouton:hover>a, #presentation-bouton:hover {
  background: RGB(75,75,75);
  color: RGB(240,240,240);
}

#presentation-bouton a {
  color: RGB(25,25,25);
}

.pictogramme {
  width: 40px;
}

#picto {
  display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    overflow: visible;
    top: 15px;
    left: 50px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    //visibility: hidden;
    //display: inline-block;
    overflow: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display: inline-block;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 18%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}
