#section-0 {
  width: 100%;
  height: 10%;
}

#nav ul {
  width: 96%;
  top: 20px;
  position: fixed;
  text-align: right;
  z-index: 100;
  overflow-y: hidden;
}

#nav ul li {
  display: inline-block;
  line-height: 200%;
  padding: 10px;
  margin: 5px;
  //-webkit-transition: all 0.5s;
  z-index: 100;
}

#nav ul li a {
  display: block;
  text-decoration: none;
  color: RGB(240,240,240);
  border-bottom: 4px solid RGBA(25,25,25,0);
  z-index: 100;
}

#nav ul li a:hover {
  border-bottom: 4px solid RGBA(255,65,66,.8);
}

.active {
  border-bottom: 4px solid RGBA(255,65,66,.8) !important;
}
