#section-3 {
  width: 100%;
  min-height: 50%;
}

.competence {
  width: 100%;
}

.competence-gauche {
  display: none;
}

.competence-droite {
  width: 100%;
  color: RGB(240,240,240);
}

.competence-contenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.competence-titre {
  width: 90%;
  color: RGB(240,240,240);
}

.comp-texte {
  display: none;
  padding: 15px;
  font-size: 16px;
  text-align: justify;
}

.comp-titre {
  display: none;
  font-size: 16px;
  padding-left: 20px;
}

#c-0 {
  text-align: center;
}

.comp-t {
  text-align: justify;
  padding: 15px;
  font-size: 16px;
}

.competence-texte, .competence-titre {
  display: none;
}

.handheld_select {
  text-align: center;
  padding: 15px;
  font-size: 16px;
  color: RGB(240,240,240);
}

.circle {
	width: 100px;
  height: auto;
  margin: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: center;
  color: RGB(240,240,240);
  cursor: pointer;
}

.circle span {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

@media screen and (orientation : landscape) and (max-width: 1100px) {
  .circle {
  	width: 100px;
    height: auto;
    margin: 5px 30px 5px 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: center;
    color: RGB(240,240,240);
    cursor: pointer;
  }

  .circle span {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}
